@model SportAssovv.Models.Adherent

@{
    ViewBag.Title = "Reset Mot de Passe";
}

<h2>ResetMotPasse</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">@ViewBag.Message</div>
}

@using (Html.BeginForm("ResetMotPasse", "Adherents", FormMethod.Post))
        { @Html.AntiForgeryToken()
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
        </div>

        <div>
            <label for="nouvelleMotPasse"> Nova Senha:</label>
            <input type="password" id="nouvelleMotPasse" name="nouvelleMotPasse" required />
        </div>
        <div>
            <input type="submit" value="Changer mot de passe" />
        </div>

}
