@model SportAssovv.Models.Adherent

@{
    ViewBag.Title = "Reset Mot de Passe";
}

<h2>Changer mot de Passe</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">@ViewBag.Message</div>
}

@using (Html.BeginForm("ResetMotPasse", "Adherents", FormMethod.Post))
        { @Html.AntiForgeryToken()
        <div>
            <label for="email" class="control-label">Email :</label>
            <input type="email" id="email" name="email" required class="form-control mb-3"/>
        </div>

        <div>
            <label for="nouvelleMotPasse" class="control-label"> Nouveau mot de passe :</label>
            <input type="password" id="nouvelleMotPasse" name="nouvelleMotPasse" required class="form-control mb-3"/>
        </div>
        <div>
            <input type="submit" value="Changer mot de passe" class="btn btn-primary mb-3" />
        </div>

}
