@{
    ViewBag.Title = "About";
}



<style>
    body {
        background-color: #ebe3ef;
    }

    
</style>
<main aria-labelledby="title">
    <div class=" row about-container mt-5">
        <div class="col text-container">
            <h3>@ViewBag.Message</h3>
            <p>
                Chez SportAsso, nous nous engageons à offrir un large éventail de disciplines sportives adaptées à tous les goûts et à tous les âges. Notre mission est de créer un environnement inclusif où chacun peut découvrir, pratiquer et partager sa passion pour le sport.

                Nous sommes fiers de fournir des installations de qualité, des encadrants compétents et des ressources pour soutenir nos adhérents dans leur parcours sportif. Que vous soyez un athlète chevronné ou un débutant, vous trouverez votre place chez SportAsso.

                Rejoignez-nous dans cette aventure sportive et découvrez une nouvelle façon de vivre le sport, la convivialité et le dépassement de soi.
            </p>
        </div>
        <div class="col image-container">
            <img src="~/Images/page qui sommes-nous.png" alt="Qui sommes-nous">
        </div>
    </div>
</main>
