
@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <address>
        1251 Rue des Universités <br />
        38400 Saint-Martin-d'Hères <br />
        <br />
        <abbr title="Phone">P:</abbr>
        (+33) 04 76 82 59 00
    </address>

    <address>
        <strong>Horaires:</strong>
        Lundi au Vendredi <br />
        8h30 h à 20h00 <br />

        Samedi <br />
        8:30 h à 16h00<br />

        Fermer les dimanches  <a href="mailto:hello@sportasso.com">Support@example.com</a><br />
    </address>

    <button>Vous voulez nous envoyer une message?</button>
