@{
    ViewBag.Title = "Home Page";
}

<style>
    /* Estilos para a imagem ocupar toda a página */
    img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Isso garante que a imagem preencha toda a área */
        z-index: -1; /* Coloca a imagem no fundo para que o conteúdo possa aparecer acima dela */
    }
</style>

<main>
    <div class="accueil">
        <h1>SportAsso</h1>
        <img src="~/Images/acceuil.png" alt="SportAsso" />
    </div>
</main>


