@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('@Url.Content("~/Images/acceuil.png")');
        background-size: cover; 
        background-position: center;
    }
       
    .fonte {
        font-size: 7em;
        margin-top: 300px;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);

    }

</style>

<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="fonte">Sport <br /> Asso</h1>
    </div>
</div>


