@{
    ViewBag.Title = "ListeAdherent";
}

<h2>Liste des Adhérents</h2>

<ul>
    @foreach (var adherent in Model)
    {
        <li>@adherent.Nom @adherent.Prenom Mail : @adherent.Email </li>
    }
</ul>
<p>Nombre d'adhérents dans le modèle : @(Model.Count)</p>
