@model SportAssovv.Models.Adherent
@{
    ViewBag.Title = "AdherentAccount";
}

<h2>Ton compte</h2>

<h2>Bienvenue, @Html.DisplayFor(model => model.Prenom)</h2>

<div>
    <p>Nom: </p>
    <p>Prenom: /p>
    <p>Email: /p>
    <p>Telephone: </p>
    <p>Adresse: </p>
    <p>Date de Naissance: </p>
    <p>Mot de Passe: </p>
    <p>Role: </p>
</div>

<h3>Dossier</h3>
<div>

    <button class="btn btn-light">Remplir Dossier</button>
    <button class="btn btn-light">Editer Dossier</button>

</div>
