@model SportAssovv.Models.Adherent

@{
    ViewBag.Title = "AdminAccount";
}

<h2>Compte Administrateur</h2>

<h2>Bienvenue</h2>

@Html.ActionLink("Disciplines", "Create", "Discipline", null, new { @class = "btn btn-light mb-3" })

@Html.ActionLink("Gestion des Adherents", "Index", "Adherents", null, new { @class = "btn btn-light mb-3" })

@Html.ActionLink("Liste de Messages", "Index", "Contacts", null, new { @class = "btn btn-light mb-3" })

<button>creer sections</button>
s

